/*  Gilroy */
@font-face {
  font-family: 'Gilroy Regular';
  font-display: swap;
  src: url('../fonts/Gilroy-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Gilroy-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Gilroy-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
}
